<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1>Hit me up</h1>
        <p>Got pressing accessibility needs?</p>
        <p>Or just want to nerd out together over it?</p>
        <p>
          Ping me at
          <a href="mailto:hello@codebykevin.dev">hello@codebykevin.dev</a>
        </p>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
